:root {
  --primary: #6842a3;
  --primary-foreground: #f7f6f0;
  --accent: #6842a3;
  --accent-foreground: #4b287f;
}

.dark {
  --primary: #c4a4ff;
  --primary-foreground: #1c102f;
  --accent: #c4a4ff;
  --accent-foreground: #dac8ff;
}
